# Игнорировать виртуальное окружение
venv/


# Игнорировать конфигурационные файлы, содержащие секретную информацию
.env

# Игнорировать кэшированные файлы Python
__pycache__/
*.pyc

# Игнорировать директорию миграций, если не нужно включать в репозиторий
*/migrations/

# Игнорировать логи и временные файлы
*.log
*.tmp
